.text {
    display: block;
    color:black;
    margin-bottom: 5px;
}

#Std{
    margin-top: 20px;
    margin-bottom: 15px;
}

.rectangle {
    display: flex;
    height: 30px;
    margin-bottom: 10px;
}

.first-1 { 
    background-color: red;
    width: 50%; 
}
.first-2 {
    background-color: blue;
    width: 50%; 
}

.second-1{
    background-color: green;
    width: 95%;
}

.second-2{
    background-color: blue;
    width: 5%;
}

.third-1{
    background-color: red;
    width: 5%;
}
.third-2{
    background-color: green;
    width: 90%;
}
.third-3{
    background-color: blue;
    width: 5%;
}

.fourth-1{
    background-color: red;
    width: 95%;
}
.fourth-2{
    background-color: blue;
    width: 5%;
}

#fifth{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: green;
    height: 30px;
    width: 100%;
}
.fifth-small{
    background-color: red;
    height: 20px;
    width: 1.4%;
}

#sixth{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
     height: 30px;
     width: 100%;
 }
 .sixth-small{
     background-color: blue;
     height: 30px;
     width: 2%;
 }

 .seven-1{
    background-color: red;
    width: 5%;
 }
 .seven-2{
    background-color: blue;
    width: 95%; 
 }

#eigth{
    background-color: green;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.eigth-small{
    background-color: rgb(225, 225, 0);
    width: 5%;
}

#nine{
    background-color: yellow;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
}
.nine-small{
    background-color: green;
    width: 0.5%;
}
